.container {
    width: 80%;
    margin: 50px auto;
}

body {
    font-family: 'Source Sans Pro', Helevetica, Helevetica Neue, Arial, sans-serif;
}


/* Prouser123 console-esqe title */

#title {
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    background: black;
    display: inline-block;
    margin: 10px 0;
    padding: 20px;
}

#title span.blinker {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    0% {
        color: white;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}


/* Code tag formatting */

code {
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    border-radius: 3px;
    padding: 3px;
}

.lime { color: lime }
.blue { color: blue }

/* Navigation */

nav ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 28px;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    background: black;
    padding: 8px 20px 4px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

nav ul li a {
    color: white;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Footer Placement */

div.footer {
    position: fixed;
    width: 50%;
    bottom: 10px;
    font-size: 16px;
}

/* Footer Links */

a {
    color: #0088cc;
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: #005580;
    text-decoration: underline;
  }